div {
	xborder:1px dotted red;
}
* {
	margin:0;
	padding:0;
}
body, button, input, textarea {
	font:12px verdana;
}

.ria-component {
	position:absolute;
	padding:10px;
	margin:10px; /* auto-disable on createDom */
/*
	padding:8px;
	border:2px red solid;
/**/
}
.ria-content {
	position:relative;
	display:block;
	width:100%;
	height:100%;
/*	background-color:lightgreen;/**/
}
.ria-container {
	display:table-cell;
	vertical-align:middle;
}



/* Form */
.ria-form {
	background-color:rgb(230,230,240);
	overflow:hidden;
}


/* Button */
.ria-button button {
	padding:5px 15px;
	white-space:nowrap;
	overflow:hidden;
}
.ria-button button.goog-button-disabled {
	color:gray;
}


/* Panel */
.ria-panel {
	background-color:silver;
}

/* Label */
.ria-label {
	xbackground-color:yellow;
}
.ria-label label {
	display:table-cell;
	vertical-align:middle;
}
.ria-label.ria-disabled label {
	color:gray;
}


.ria-checkbox {
}
.ria-checkbox label {
/*	font-size:30px;*/
	padding-left:5px;
}
.ria-checkbox .ria-checkbox-content {
/*	display:block;
	vertical-align:middle;*/
}
.ria-checkbox .ria-checkbox-content {
}
.ria-checkbox.ria-disabled label {
	color:gray;
}



/**
 * Edit
 */
.ria-component.ria-edit {
	padding:6px 10px;
}
.ria-edit input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
/**/
	xpadding:3px 2px;

	xline-height:26px;
	xheight:26px;
	padding:4px 2px;
	margin:0;
/*	border-width:1px;*/
}
.ria-edit.ria-disabled input {
	background-color:siver;
	color:gray;
}




.ria-memo textarea {
	padding:3px 2px;
/*	border-width:1px;*/
}
.ria-memo.ria-disabled textarea {
	background-color:siver;
	color:gray;
}





.goog-checkbox {
	border:1px solid #1C5180;
	display:-moz-inline-box;
	display:inline-block;
	font-size:1px; /* Fixes the height in IE6 */
	height:11px;
	margin:0; /*0 4px 0 1px;*/
	vertical-align:text-bottom;
	width:11px;
}
.goog-checkbox-checked,
.goog-checkbox-undetermined {
	background-image:url(data:image/gif;base64,R0lGODlhEAAHAKEBAAAAAJmZmZmZmZmZmSH5BAEKAAIALAAAAAAQAAcAAAIclA+nEgu5WIDiwWaCfpXnpjWW94UIeZgKtWBGAQA7);
	background-position:2px center;
	background-repeat:no-repeat;
}
.goog-checkbox-checked {
	background-color:#fff;
}
.goog-checkbox-undetermined {
	background:#bbb;
}
.goog-checkbox-unchecked {
	background:#fff;
}
.goog-checkbox-disabled {
	border:1px solid lightgray;
	background-position:-7px;
} 



.ria-groupbox {
	padding:8px;
}
.ria-groupbox .ria-content {
	xbackground-color:yellow;
}
.ria-groupbox legend,
.ria-groupbox .ria-groupbox-legend  {
	position:absolute;
	left:18px;
	top:0;
	padding:1px 4px;
	background-color:#E6E6F0;
	cursor:default;
}
.ria-groupbox .ria-groupbox-legend {
}
.ria-groupbox .ria-groupbox-legend .goog-checkbox {
	position:absolute;
	left:2px;
	top:2px;
}
.ria-groupbox .ria-groupbox-legend legend {
	position:relative;
	padding:0 4px 0 0;
}
.ria-groupbox.ria-disabled legend {
	color:gray;
}



/**
 * Borders
 */
.ria-component .ria-outer-border {
/*	border:1px solid yellow;*/
	border-top:1px solid gray;
	border-right:1px solid #FAFAFA;
	border-bottom:1px solid #FAFAFA;
	border-left:1px solid gray;
	border-radius:2px;
}
.ria-component .ria-inner-border {
	border-top:1px solid #FAFAFA;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	border-left:1px solid #FAFAFA;
	border-radius:2px;
	padding:8px;
}


